<style>

    html{
        margin: 10%;
        margin-top: 2%;
    }

</style>


<center>

    <h1> ICE FLOE SIMLATION </h1>

    Samuel Dietz - 260719 
        <br>
    Gabriel Xavier Luisier - 275142 
        <br>
    Etienne Salimbeni - 270963

</center>


<!-- ------------------------------------------------------------------------- -->
<h2> Introduction </h2>

This projects aims to recreate a cracked ice like surface. Similar to Image 1.
Ice has a complex structure , differents degree of compactness , 
different levels of impurities on the surface (snow , water , ...) 
that creates intereting reflections.

<center>
    <img src="ice-floe.jpg" title="ice floe" style="width: 60%; margin: 2%;">
</center>


<!-- ------------------------------------------------------------------------- -->
<h2> Implementation </h2>

<ul>

    <li> 
        <h3> crack pattern </h3>
        To create the creack patters we will use Worley noise ,
        computing the closest distance for each fragment within the GPU in the fragment shader. 
    </li>

    <li> 
        <h3> impurities ( water / snow ) </h3>
        For this part we will upgrade the basic shader to use 2 generated textures 
        for each type of reflectiveness ( snow / water ) . To build such textures 
        a simple perlin noise adaptation should do the job.  
    </li>

    <li> 
        <h3> reactive cracking </h3>
        This option allow the user to insert new cracks on the ice flow.
        To achieve this we will add new points to the Worley noise , around the mouse position . 
    </li>

    <li> 
        <h3> move in the world </h3>
        The user will be able to discover the ice floe.
        We will move the camera position according to keyboard inputs 
        the camera should also bounse to give the illusion of a man walking.
        To implement this , we will make the camera follow appropriate Bézier curves.
    </li>

    <li>
        <h3> environment reflection </h3>
        update the shader to take into consideration the light emmited by a sky photo

    </li>

</ul>



<!-- ------------------------------------------------------------------------- -->
<h2> Schedule </h2>

First 2 weeks the main goal.
<br>
Last 2 the , the options.



<!-- ------------------------------------------------------------------------- -->
<h2> Grading </h2>

<h3> main goal : +4 points </h3> 
<ul>

    <li> crack pattern  </li>

    <li> impurities ( water / snow ) </li>

</ul>

<h3> options  : +2 points </h3>
<ul>

    <li> reactive cracking </li> +0.5

    <li>  move in the world </li> +1

    <li> environment reflection </li> +0.5

</ul>


<!-- ------------------------------------------------------------------------- -->
<h2> References </h2>

<a href="https://nullprogram.com/blog/2014/06/01/"> A GPU Approach to Voronoi Diagrams </a> 
    <br>
<a href="https://thebookofshaders.com/12/"> Cellular Noise : Worley noise adaptations </a>
    <br>
<a href="https://www.artstation.com/artwork/oO6qgz"> Similar work , using Substance Designer </a>
    <br>
<a href="https://www.creativeshrimp.com/create-realistic-ice-lighting-book-02.html" > Types of Roughness in ice </a>
    <br>
<a href="https://learnopengl.com/Advanced-OpenGL/Cubemaps"> CubeMaps </a>
    <br>